
<!-- Header -->
@* <div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<header id="header">
					<h1><a href="/" id="logo">@Config.CompanyName</a></h1>
					<nav id="nav">
						<a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
						<a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a>
						<a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
					</nav>
				</header>

			</div>
		</div>
	</div>
</div> *@

<div id="header-wrapper">
	<div id="header" class="container">

		<!-- Logo -->
		<h1 id="logo"><a asp-area="" asp-controller="Home" asp-action="Index">Samara Aero</a></h1>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li>
					<a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>			
				</li>
				<li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a></li>
				<li class="break"><a asp-controller="Home" asp-action="Contacts">Контакты</a></li>
				<li>
					@if(User.Identity.IsAuthenticated)
					{
						<li><a>Имя: @User.Identity.Name</a>
								<a asp-area="" asp-controller="Account" asp-action="Logout" method="post">
									Выйти
								</a>
					</li>
					}
					else
					{		
					<a href="~/admin">Вход</a>
					}
				</li>
			</ul>
		</nav>

	</div>
</div>